<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Rendering Lists with v-for with Vue.js 2</title>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
</head>

<body>
    <div id="app">
        <!--
        <ul>
            <li v-for="(ingredient, i) in ingredients" >{{ ingredient }} ({{ i }})</li>
        </ul>
        <template v-for="(ingredient, index) in ingredients">
            <h1>{{ ingredient }}</h1>
            <p>{{ index }}</p>
        </template>
-->
        <ul>
            <li v-for="person in persons">
                <div v-for="(value, key, index) in person">
                    {{ key }}: {{ value }} ({{ index }})
                </div>
            </li>
        </ul>
        <span v-for="n in 10">
        {{ n }}
        </span>
    </div>

    <script src="js/v-for.js"></script>
</body>

</html>